.navbar{
    width:260px;
    background:#f7f8f9;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:20px;
    border-right:1px solid #e4e4e4;
    height: calc(100vh - 70px); /* Full height minus header */
}

/* MENU */

.nav-menu{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.nav-item{
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px 14px;
    border-radius:8px;
    cursor:pointer;
    color:#555;
    font-size:14px;
    transition:0.2s;
}

.nav-item:hover{
    background:#eeeeee;
}

.icon{
    font-size:18px;
}

/* ACTIVE MENU */

.nav-item.active{
    background:linear-gradient(90deg,#16c79a,#0fa67c);
    color:white;
}

/* BOTTOM MENU */

.bottom-menu{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom: 50px;
}